@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*font-family: 'Open Sans', sans-serif;*/

body {
  margin: 10px 100px;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #199dae;
  font-weight: 300;
}

.fundoA {
  width: 150px;
}

.espaco {
  padding-left: 325px;
  padding-bottom: 60px;
}

#container-card {
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 5px 1px rgba(106, 111, 129, 0.3);
}

.top {
  height: 115px;
  margin-top: 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-image: url(../images/bg-pattern-card.svg);
  display: flex;
  justify-content: center;
}

.img-container {
  background-color: #fff;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  margin-top: 40px;
}

.img-container img {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

span {
  color: hsl(227, 10%, 46%);
  font-weight: 300;
}

strong {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.bottom-middle {
  background-color: #fff;
  padding-top: 50px;
  height: 85px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  line-height: 2px;
}

.bottom h4 {
  padding-left: 60px;
  display: inline-block;
  justify-content: space-between;
}

.bottom span {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
  padding-left: 50px;
  display: inline-flexbox;
  justify-content: space-between;
  line-height: 2px;
}
i:hover{
  color: white;
  cursor: pointer;
}
